/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("1.jpg.jpeg"); /* Replace "path/to/background.jpg" with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}
/* Add the CSS styles here */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #FFF;
    padding: 10px;
    z-index: 999;
}

.icon {
    width: 200px;
    height: 70px;
}

.logo {
    color: #00bbff;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 10px;
    transition: 0.4s ease-in-out;
    border-radius: 2px;
}

.menu ul li a.active,
.menu ul li a:hover {
    background: #ff7200;
    color: #000;
}

.container {
    text-align: center;
    margin-top: 100px;
}
